@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}
html {
  touch-action: manipulation; /* Prevent zoom from double-tap gestures */
}
.no-interaction {
  pointer-events: none;
  user-select: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}   
.w-4em{
    width: 4em;
    aspect-ratio: 1;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.stats>div{
  width: 5rem;
  aspect-ratio: 1;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  width: 3rem;
  aspect-ratio: 3 / 4;
  perspective: 1000px;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card .flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-color: #333;
  cursor: pointer;
}
.gameButton{
  background-image:url("https://res.cloudinary.com/duscymcfc/image/upload/v1729001765/Bg.jpg");
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100%;
  width: 100%;
}
