
/* Loader container */
.container {
    min-width: 100dvw;
    min-height: 100dvh;
    z-index: 99; /* Ensure container stays on top of other elements */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
  }
  
  /* Loader element */
  .loader {
    position: absolute;
    inset: 0;
    background-color: goldenrod;
    transform: translateX(100%) rotate(0deg); /* Start off-screen without rotation */
    transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
    will-change: transform;
    z-index: 0; /* Loader stays behind the text */
  }
  
  /* Loading text */
  .loadingText {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    z-index: 2; /* Ensure text is above the loader */
    position: relative; /* Create a new stacking context for the text */
  }